{% extends "./base.html" %}

{% block body %}
    {% load static %}

    <noscript>
        <div class="alert alert-warning my-3 text-center shadow-sm" role="alert">
            Для корректной работы сайта включите javascript
        </div>
    </noscript>

    <div class="container">

    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="alert alert-{{message.tags}} my-3 text-center shadow-sm" {% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if cart %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Название торвара</th>
                    <th scope="col" class="text-center">Количество</th>
                    <th scope="col" class="text-center">Цена</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                    <tr>
                        <td>{{item.product.name}}</td>
                        <td class="text-center">{{item.quantity}}</td>
                        <td class="text-center">{{item.product.price.normalize}}</td>
                        <td><a href="{% url 'store:remove_from_cart' pk=item.product.pk %}" type="button" class="btn btn-danger text-center">Удалить</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-warning my-3 text-center shadow-sm">
            Корзина пустая
        </div>
    {% endif %}
</div>
{% endblock %}
