



#staff-list {
    margin-top: 25px;
    border: 1px solid $light-gray;

    th[scope="row"] {
        font-size: 20px;
    }

    th[scope="col"] {
        font-size: 14px;
    }

    a {
        text-decoration: none;
    }
}
