<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="docsearch:language" content="ru">
    <title>SUPPORT</title>
    
    {% load static %}
    <link rel="shortcut icon" href="{% static './assets/images/favicon.ico' %}" type="image/x-icon">
    <!-- JS -->
    <!-- jquery JS -->
    <script type="text/javascript" src="{% static './assets/vendor/js/jquery-3.6.0.min.js'%}"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="{% static './assets/vendor/js/bootstrap.min.js'%}"></script>
    <!-- main js -->
    <script type="module" src="{% static './assets/js/app.js'%}" async></script>
    <!-- CSS -->
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static './assets/vendor/css/bootstrap.min.css'%}">
    <!-- Bootstrap-icons -->
    <link rel="stylesheet" type="text/css" href="{% static './assets/vendor/css/bootstrap-icons.css'%}">
    <!-- main CSS -->
    <link rel="stylesheet" type="text/css" href="{% static './assets/css/style.css'%}" />
    <!-- этот токен использует javascript для подписи всех ajax запросов -->
    {% csrf_token %}
    
    {% block head %}
    {% endblock %}
  </head>
  <body>

    {% block nav %}
      <header>
        <nav id="navbar" class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container">
            <a class="navbar-brand" type="button">SUPPORT</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_superuser %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'chat:index' %}">Главная</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-users-menu" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Сотрудники
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-users-menu">
                      <li>
                        <a class="dropdown-item" href="{% url 'chat:registration' %}">
                          <i class="bi bi-plus"></i>
                          <span class="mx-3">Добавить</span>
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'chat:staff_list' %}">
                          <i class="bi bi-list-ul"></i>
                          <span class="mx-3">Список</span>
                        </a>
                      </li>
                    </ul>
                  </li>
              
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar-dropdown-archive-menu" role="button" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      Архив
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbar-dropdown-archive-menu">
                      <li>
                        <a class="dropdown-item" href="{% url 'chat:archive' 1 %}">
                        <i class="bi bi-clock-history"></i>
                        <span class="mx-3">Последний день</span>
                      </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'chat:archive' 3 %}">
                          <i class="bi bi-clock-history"></i>
                          <span class="mx-3">Последние 3 дня</span>
                        </a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{% url 'chat:archive' 7 %}">
                          <i class="bi bi-clock-history"></i>
                          <span class="mx-3">Последние 7 дней</span>
                        </a>
                      </li>
                    </ul>
                  </li>
                {% endif %}
              </ul>
              <div class="d-inline-flex">
                {% if user.is_authenticated %}
                  <div class="mx-4" style="margin: auto;"><span class="badge rounded-pill bg-success">{{user.username}}</span></div>
                  <a class="btn btn-outline-danger" type="button" href="{% url 'chat:logout' %}">Выйти</a>
                {% else %}
                  <a class="btn btn-outline-primary" type="button" href="{% url 'chat:login' %}">Войти</a>
                {% endif %}
              </div>
            </div>
          </div>
        </nav>
      </header>
      <noscript>    
        <div class="alert alert-warning my-3 text-center shadow-sm" role="alert">
          Для корректной работы сайта включите javascript
        </div>
      </noscript>
    {% endblock %}

    {% block main %}
    {% endblock %}
  </body>
</html>
