{% extends "./base.html" %}


{% load static %}

<noscript>
  <div class="alert alert-warning my-3 text-center shadow-sm" role="alert">
    Для корректной работы сайта включите javascript
  </div>
</noscript>

{% block main %}
  <input type="hidden" id="jwt-token" value="{{request.user.token}}"></input>
    
    <!-- File modal form -->
    <div class="modal fade" id="upload-file-modal-form" tabindex="-1" aria-labelledby="upload-file-modal-form-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Выберите файл для загрузки</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img id="preview-image" src="">
            <div class="mb-3">
              <label for="form-file" class="form-label">Выберите файл</label>
              <input id="form-file" class="form-control" type="file">
            </div>
            <div class="mb-3">
              <input class="file-caption-input input" placeholder="Коментарий..."></input>
            </div>
          </div>
          <div class="modal-footer">
            <input id="upload-url" type="hidden" value="{% url 'chat:upload_file' %}">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            <button id="send-file" type="button" class="btn btn-primary">Отправить</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Image modal form -->
    <div class="modal fade" id="upload-image-modal-form" tabindex="-1" aria-labelledby="upload-image-modal-form-label" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Выберите изображение для загрузки</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <img id="previewImage" src="">
            <div class="mb-3">
              <label for="form-image" class="form-label">Выберите изображение</label>
              <input id="form-image" class="form-control" type="file" accept=".png, .jpg, .jpeg" onchange="preview(this);">
            </div>
            <div class="mb-3">
              <input class="image-caption-input input" placeholder="Коментарий..."></input>
            </div>
          </div>
          <div class="modal-footer">
            <input id="upload-url" type="hidden" value="{% url 'chat:upload_file' %}">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            <button id="send-image" type="button" class="btn btn-primary">Отправить</button>
          </div>
          </div>
        </div>
      </div>
  <div>
    <div class="row">
      {% if message %}
        <div class="alert alert-success my-3 text-center shadow-sm" role="alert">
          {{ message }}
        </div>
      {% endif %}
      <div id="aside-chats-menu" class="col-3 mx-0 px-0">
        <!-- Здесь функция loadChats с файла main.js получит от сервера список чатов и отрендерит их -->
        <div id="aside-chats-menu-spiner">
          <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
      </div>

      <div id="chat" class="col-9 mx-0 px-0">
        <div class="control-panel d-inline-flex bg-light">
          <div style="margin: auto 5px;">
            <img class="telegram-user-image" src="{% static 'assets/images/default-user.png' %}" alt="telegram user photo">
        </div>
          <div id="chat-title">
            <div><span class="chat-name">FirstName LastName</span></div>
            <div><span class="username">@username</span></div>
          </div>
          <span style="margin: auto;"></span>
          <div class="dropdown">
            <a type="button" id="chat-more-actions" class="more-actions" onclick="dropdownToggle();">
              <i class="bi bi-three-dots-vertical"></i>
            </a>
            <ul id="chat-more-actions-menu" class="dropdown-content">
              <li class="dropdown-item"><i class="bi bi-archive"></i><a href="#">Закрыть чат</a></li>
              <li class="dropdown-item danger">
                <i class="bi bi-x-octagon"></i>
                <a id="block-user" data-url="{% url 'telegram_bot:block_user' 0 %}" data-user-id="12345" href="#">Заблокировать</a>
              </li>
              <li class="dropdown-item d-none">
                <i class="bi bi-arrow-clockwise"></i>
                <a id="unblock-user" data-url="{% url 'telegram_bot:unblock_user' 0 %}" data-user-id="" href="#">Разблокировать</a>
              </li>
            </ul>
          </div>
        </div>
        <div id="chat-and-message" style="background-image: url(&quot;{% static 'assets/images/background.jpg' %}&quot;);">
          <!--  -->
          <div id="chat-spiner">
            <div class="d-flex justify-content-center">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
        </div>
        <div class="input-area">
          <button class="button file-select-button" data-bs-toggle="modal" data-bs-target="#upload-file-modal-form">
            <i class="bi bi-file-earmark"></i>
          </button>
          <button class="button image-select-button" data-bs-toggle="modal" data-bs-target="#upload-image-modal-form">
            <i class="bi bi-image"></i>
          </button>
          <textarea id="chat-message-input" class="chat-input" placeholder="Ваш текст..."></textarea>
          <button class="button emoji-button">
            <i class="bi bi-emoji-smile"></i>
          </button>
        </div>
      </div>
      <div id="emoji-menu" class="d-none">
        <!-- -->
        <div id="emoji-spiner">
          <div class="d-flex justify-content-center">
            <div class="spinner-border text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
